@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();
    loginModel.RedirectUrl = HttpContext.Current.Request.Url.AbsolutePath;

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js");
}

@using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
{
    @Html.HiddenFor(m => loginModel.RedirectUrl)
    <fieldset class="col-md-8">
        <legend>Login</legend>

        @Html.ValidationSummary("loginModel", true)

        <div class="form-group">
            <div class="col-sm-8 col-md-8">
                @Html.LabelFor(m => loginModel.Username)
                @Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => loginModel.Username)
            </div>
        </div>
        <br />
        <div class="form-group pad">
            <div class="col-sm-8 col-md-8">
                @Html.LabelFor(m => loginModel.Password)
                @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => loginModel.Password)
            </div>
        </div>
        <br />
        <div class="form-group col-sm-8 col-md-8">
            <button class="btn btn-primary btn-lg col-xs-12">Login</button>
        </div>
    </fieldset>
}